*
{
	font-family: 'Montserrat', sans-serif;
}

.side-menu
{
	background-color: #F1F1F1;
	width: 80px;
	height: 100vh;
}

.home-ico
{
	width: 26px;
	height: 26px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.76929 10.4609V24.0769C3.76929 24.3217 3.86654 24.5565 4.03966 24.7296C4.21278 24.9027 4.44758 25 4.6924 25H10.2311V17.1535C10.2311 16.7863 10.377 16.4341 10.6367 16.1744C10.8963 15.9147 11.2485 15.7688 11.6158 15.7688H16.2313C16.5986 15.7688 16.9508 15.9147 17.2105 16.1744C17.4701 16.4341 17.616 16.7863 17.616 17.1535V25H23.1547C23.3995 25 23.6343 24.9027 23.8075 24.7296C23.9806 24.5565 24.0778 24.3217 24.0778 24.0769V10.4609' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M26.8472 12.9995L14.5519 1.22977C14.2634 0.925143 13.589 0.921681 13.2953 1.22977L1 12.9995M22.2317 8.557V1.92211H19.4623V5.90304' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.home-ico:hover
{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.76929 10.4609V24.0769C3.76929 24.3217 3.86654 24.5565 4.03966 24.7296C4.21278 24.9027 4.44758 25 4.6924 25H10.2311V17.1535C10.2311 16.7863 10.377 16.4341 10.6367 16.1744C10.8963 15.9147 11.2485 15.7688 11.6158 15.7688H16.2313C16.5986 15.7688 16.9508 15.9147 17.2105 16.1744C17.4701 16.4341 17.616 16.7863 17.616 17.1535V25H23.1547C23.3995 25 23.6343 24.9027 23.8075 24.7296C23.9806 24.5565 24.0778 24.3217 24.0778 24.0769V10.4609' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M26.8472 12.9995L14.5519 1.22977C14.2634 0.925143 13.589 0.921681 13.2953 1.22977L1 12.9995M22.2317 8.557V1.92211H19.4623V5.90304' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.clock-ico
{
	width: 25px;
	height: 24px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M22.091 12.5042C22.091 10.6081 21.5288 8.75458 20.4753 7.17803C19.4219 5.60149 17.9247 4.37272 16.1729 3.64712C14.4212 2.92151 12.4936 2.73166 10.6339 3.10157C8.77424 3.47148 7.06603 4.38454 5.72529 5.72528C4.38455 7.06602 3.47149 8.77423 3.10158 10.6339C2.73167 12.4935 2.92152 14.4211 3.64713 16.1729C4.37273 17.9247 5.6015 19.4219 7.17804 20.4753C8.75459 21.5287 10.6081 22.091 12.5042 22.091C15.0468 22.091 17.4852 21.081 19.2831 19.2831C21.081 17.4852 22.091 15.0468 22.091 12.5042ZM5.67658 1.67168C5.1735 1.24118 4.53398 1.00317 3.87186 1L3.70469 1.00479C2.1738 1.09707 0.995817 2.43802 1.00001 4.0558C1.00001 4.84731 1.27923 5.2164 1.65191 5.68735C1.67507 5.71762 1.7043 5.74269 1.73774 5.76096C1.77118 5.77922 1.80807 5.79028 1.84605 5.79341H1.89878C1.92846 5.79288 1.95763 5.78552 1.98402 5.77191C2.01042 5.7583 2.03332 5.7388 2.05097 5.71492L5.69216 2.13843C5.72325 2.10699 5.74754 2.06949 5.76352 2.02826C5.77949 1.98702 5.78682 1.94295 5.78503 1.89876C5.78352 1.85549 5.77312 1.813 5.75446 1.77393C5.7358 1.73486 5.70929 1.70005 5.67658 1.67168V1.67168ZM19.3234 1.67168C19.8265 1.24118 20.466 1.00317 21.1281 1L21.2953 1.00479C22.8262 1.09707 24.0042 2.43802 24 4.0558C24 4.84731 23.7208 5.2164 23.3481 5.68735C23.3249 5.71751 23.2956 5.74247 23.2622 5.76063C23.2287 5.77879 23.1919 5.78975 23.154 5.79281H23.1012C23.0715 5.79228 23.0424 5.78492 23.016 5.77131C22.9896 5.7577 22.9667 5.7382 22.949 5.71432L19.3078 2.13843C19.2767 2.10699 19.2525 2.06949 19.2365 2.02826C19.2205 1.98702 19.2132 1.94295 19.215 1.89876C19.2165 1.85549 19.2269 1.813 19.2455 1.77393C19.2642 1.73486 19.2907 1.70005 19.3234 1.67168V1.67168Z' stroke='%23333333' stroke-width='2' stroke-miterlimit='10'/%3e%3cpath d='M12.5043 5.79342V12.5042H7.71089M22.0911 22.091L19.6944 19.6943M2.91748 22.091L5.31419 19.6943' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.clock-ico:hover
{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M22.091 12.5042C22.091 10.6081 21.5288 8.75458 20.4753 7.17803C19.4219 5.60149 17.9247 4.37272 16.1729 3.64712C14.4212 2.92151 12.4936 2.73166 10.6339 3.10157C8.77424 3.47148 7.06603 4.38454 5.72529 5.72528C4.38455 7.06602 3.47149 8.77423 3.10158 10.6339C2.73167 12.4935 2.92152 14.4211 3.64713 16.1729C4.37273 17.9247 5.6015 19.4219 7.17804 20.4753C8.75459 21.5287 10.6081 22.091 12.5042 22.091C15.0468 22.091 17.4852 21.081 19.2831 19.2831C21.081 17.4852 22.091 15.0468 22.091 12.5042ZM5.67658 1.67168C5.1735 1.24118 4.53398 1.00317 3.87186 1L3.70469 1.00479C2.1738 1.09707 0.995817 2.43802 1.00001 4.0558C1.00001 4.84731 1.27923 5.2164 1.65191 5.68735C1.67507 5.71762 1.7043 5.74269 1.73774 5.76096C1.77118 5.77922 1.80807 5.79028 1.84605 5.79341H1.89878C1.92846 5.79288 1.95763 5.78552 1.98402 5.77191C2.01042 5.7583 2.03332 5.7388 2.05097 5.71492L5.69216 2.13843C5.72325 2.10699 5.74754 2.06949 5.76352 2.02826C5.77949 1.98702 5.78682 1.94295 5.78503 1.89876C5.78352 1.85549 5.77312 1.813 5.75446 1.77393C5.7358 1.73486 5.70929 1.70005 5.67658 1.67168V1.67168ZM19.3234 1.67168C19.8265 1.24118 20.466 1.00317 21.1281 1L21.2953 1.00479C22.8262 1.09707 24.0042 2.43802 24 4.0558C24 4.84731 23.7208 5.2164 23.3481 5.68735C23.3249 5.71751 23.2956 5.74247 23.2622 5.76063C23.2287 5.77879 23.1919 5.78975 23.154 5.79281H23.1012C23.0715 5.79228 23.0424 5.78492 23.016 5.77131C22.9896 5.7577 22.9667 5.7382 22.949 5.71432L19.3078 2.13843C19.2767 2.10699 19.2525 2.06949 19.2365 2.02826C19.2205 1.98702 19.2132 1.94295 19.215 1.89876C19.2165 1.85549 19.2269 1.813 19.2455 1.77393C19.2642 1.73486 19.2907 1.70005 19.3234 1.67168V1.67168Z' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3e%3cpath d='M12.5043 5.79342V12.5042H7.71089M22.0911 22.091L19.6944 19.6943M2.91748 22.091L5.31419 19.6943' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.juke-ico
{
	width: 28px;
	height: 30px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M22.1939 22.5638C24.0954 24.1547 25.2216 25.68 25.2216 28.3809M7.18704 22.5638C5.28551 24.1547 4.15934 25.6794 4.15934 28.3809M23.1154 11.0649C25.0169 9.47401 25.2216 7.2723 25.2216 4.57141M6.26557 10.9296C4.36404 9.33873 4.15934 7.27298 4.15934 4.57141M28.381 16.485H23.1154M6.26557 16.485H1M14.6905 9.98267V27.2987' stroke='%232A2A2A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M14.6903 27.1905C9.77958 27.1905 5.76172 23.3342 5.76172 18.6209V12.1891C5.76172 7.83265 9.77958 5.7619 14.6903 5.7619C19.601 5.7619 23.6189 7.47581 23.6189 12.1891V18.6209C23.6189 23.3342 19.601 27.1905 14.6903 27.1905Z' stroke='%232A2A2A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M9.56294 6.95238C9.42892 6.63963 9.35131 6.30844 9.33325 5.97216C9.33696 4.65452 9.90109 3.39184 10.9023 2.46013C11.9035 1.52841 13.2604 1.00345 14.6763 1H14.7045C16.1204 1.00345 17.4773 1.52841 18.4785 2.46013C19.4797 3.39184 20.0438 4.65452 20.0475 5.97216C20.0346 6.2783 19.9639 6.57994 19.8386 6.86327' stroke='%232A2A2A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.juke-ico:hover
{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M22.1939 22.5638C24.0954 24.1547 25.2216 25.68 25.2216 28.3809M7.18704 22.5638C5.28551 24.1547 4.15934 25.6794 4.15934 28.3809M23.1154 11.0649C25.0169 9.47401 25.2216 7.2723 25.2216 4.57141M6.26557 10.9296C4.36404 9.33873 4.15934 7.27298 4.15934 4.57141M28.381 16.485H23.1154M6.26557 16.485H1M14.6905 9.98267V27.2987' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M14.6903 27.1905C9.77958 27.1905 5.76172 23.3342 5.76172 18.6209V12.1891C5.76172 7.83265 9.77958 5.7619 14.6903 5.7619C19.601 5.7619 23.6189 7.47581 23.6189 12.1891V18.6209C23.6189 23.3342 19.601 27.1905 14.6903 27.1905Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M9.56294 6.95238C9.42892 6.63963 9.35131 6.30844 9.33325 5.97216C9.33696 4.65452 9.90109 3.39184 10.9023 2.46013C11.9035 1.52841 13.2604 1.00345 14.6763 1H14.7045C16.1204 1.00345 17.4773 1.52841 18.4785 2.46013C19.4797 3.39184 20.0438 4.65452 20.0475 5.97216C20.0346 6.2783 19.9639 6.57994 19.8386 6.86327' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.side-menu
{
	display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.item-menu
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	width: 50px;
	height: 50px;
}

.item-menu:hover
{
	background-color: gray;
	border-radius: 5px;
	background-color: #9368EF;
	cursor: pointer;
}

.main-font
{
	color: #2A2A2A;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
}

.main-font-second
{
	font-size: 20px;
}

.main-font-them
{
	color: #2A2A2A;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

.main-font-second-them
{
	font-size: 15px;
}