@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.top-nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #2A2A2A;
    height: 100px;
    padding: 1em;
    font-weight: 600;
    font-size: 20px;
}

* {
    font-family: "Montserrat";    
    /* box-sizing: border-box; */
  }

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #2A2A2A;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 768px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    .top-nav
    {
        height: 50px;
    }
    .reg-button
    {
        color: #FFF;
    }
    .reg
    {
        padding-left: 0px;
    }
  }

.reg
{
    padding-left: 150px;
}

.reg-button
{
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
}

.nav-link:hover
{
    transition: 0.2s;
    color: #9368EF !important;
}

.reg-button
{
    transition: 0.2s;
    color: #2A2A2A !important;
}

.reg-button:hover
{
    transition: 0.2s;
    color: #9368EF !important;
}

.main-cont
{
    display: flex;
}

.projects
{
    color: #2A2A2A;
    font-size: 38px;
    font-weight: 600;
    margin-top: 90px;
}

.cont-text
{
    color: #808080;
    font-weight: 600;
    font-size: 28px;
}

.purple-text
{
    color: #9368EF;
}

.button-prob
{
    width: 360px;
    height: 70px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border-color: transparent;
    background-color: #9368EF;
    color: #FFF;
    transition: 0.4s;
}

.button-prob:hover
{
    transition: 0.4s;
    background-color: #4c3480;
    color: #FFF;
}

.content-image
{
    width: 689px;
    height: 689px;
    
}

